# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized. The key take aways from the course will be included in the document. The different data management tools will be covered

**Objectives:**

* Listing popular languages for Data Science
* Listing popular libraries for Data Science
* Markdown code to create text and tables 
* Codes to run arithematic operations

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. ggplot
3. SciKit-Learn

|Data Science Tools|
|------|
|Python|
|R|
|ApacheSpark|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python
1. a+b
2. a*b
3. (a*b)+c

In [3]:
#This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Lasinth Sreevalsan